.buttonWrapper {
  display: inline-block;
}

.button {
  background: #fcfcfc;
  color: #888;
  font-size: 18px;
  border: 0;
  padding-top: 5px;
  vertical-align: bottom;
  height: 34px;
  width: 36px;
  border-radius: 4px;
}

.button svg {
  fill: #888;
}

.button:hover,
.button:focus {
  background: #ce93d83f;
  outline: 0;
  /* reset for :focus */
}

.active {
  color: #000;
}

.active svg {
  fill: #000;
}
